<div class="twelve chubby columns">
  <h2>submit a video link</h2>
</div>

<%= render 'form' %>

<div class="six chubby columns">
  <h4 class="justify">
    Thanks for taking the time to submit a video. I know this goes without saying, but please be mindful of our community values.
  </h4>
</div>